{% extends('Common/base.html.twig') %}
{%  block title %}
    Success
{% endblock %}
{%  block header %}
    {%  include 'Owner/owner_header.html.twig' %}
{% endblock %}
{% block body %}


    <div class="alert alert-info" role="alert">
        {{ message }}
    </div>
    {% if shareLink %}
        <div class="alert alert-info" role="alert">
            {{ shareLink }}
        </div>
    {% endif %}
{% endblock %}