
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
.idea
src/Domain/Repository/OwnerRepository.php.interfaz
src/Domain/Repository/OwnerRepository.php.psa.php
node_modules
### facebook components (DUDA TODO no me queda muy claro cuando se instalan estos componentes think will be installed when composer install facebook/php-sdk-graph)
components

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
CI/deploy/.vagrant
CI/deploy/*log
docs/~*
CI/deploy/playbook.retry
