<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
    </head>
    <body>
    <script>
        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
            console.log(response);
        });

    </script>

    getLoginStatus
    </body>
</html>
