<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
    </head>
    <body>
        {% include 'fbSdk.html.twig' %}

    <script>

    </script>

    Place to log with facebook</body>
</html>
