<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
    </head>
    <body>
    {% include 'fbSdk.html.twig' %}
    <div id="status"></div>
        Please identify yourself<br>
          <fb:login-button
                scope="public_profile,email"
                onlogin="checkLoginState();">
        </fb:login-button>
    </body>
</html>
