{% extends('plain.html.twig') %}
{% block title %}
    Welcome
{% endblock %}
{% block body %}

    {% include 'fbSdk.html.twig' %}
    {#    <section class="page-content" style="background-image: ;">#}



        <div class="jumbotron">
            <div id="status"></div>
            <h3 class="text-center">
                Please identify yourself

            </h3>
            <fb:login-button style="left:47%"
                    scope="public_profile,email"
                    onlogin="checkLoginState();">
            </fb:login-button>
        </div>
    <div class="text-center">
        <img src="/img/background-img.png" class="rounded" alt="">

    </div>
{% endblock %}