<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Wellcome to SAC{% endblock %}</title>
    </head>
    <body>
    {% include 'fbSdk.html.twig' %}

    You are logged in<br>
    Add thing
    <script>
        checkLoginState();

    </script>
    </body>
</html>
