{% extends('base.html.twig') %}
{%  block title %}
    List of Friends
{% endblock %}
{% block body %}

<h1>Friends</h1>


<h1>List of Friends</h1>
<p>Added friends in SAC</p>
{% for friend in friends %}
    <p>
        <a href="{{ path('owner_things') }}">
            {{ friend.getId() }}  {{ friend.fbDelegated }}
        </a>
    </p>
{% endfor %}
{% endblock %}