{% extends('Common/base.html.twig') %}
{%  block title %}
    List of Friends
{% endblock %}
{% block body %}
    {%  block header %}
        FRIEND
    {% endblock %}

    <h1>Hello, {{ friend.name }} </h1>
    <p>Your friend <b>{{ ownerName }} </b> has kindly shared this actions with you:</p>
    {% for action in friend.actions %}
        <p> {{ action }}</p>
    {% endfor %}
{% endblock %}